.your-configuration {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    /* align-items: center; */
    overflow: scroll;
    background-color: white;
    /* padding: 20px; */
}

.your-configuration-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
}

.your-configuration-container .your-configuration-container-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.your-configuration-container .your-configuration-container-description img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.your-configuration-container .your-configuration-container-description span {
    font-size: 20px;
    font-weight: 600;
    color: rgb(230, 156, 156);
}

